@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');


/*---- Estilos generales- header-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
* {
	margin:0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	font-family: montserrat;
	font-weight: 500;
	color: #094264;
	box-sizing: border-box;
	
}
h1 {
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	padding: 60px 20px;
}
h2 {
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin: 20px 20px;
}
p {
	max-width: 500px;
	margin-left: 20px;
	line-height: 2;
	text-align: justify
}

.bold{
	font-weight: bold;
}
.logo {
	position: relative;
	top: -40px;  
	left: 60px;
}
.social-media {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	position: relative;
	top: 30px;
	margin-right: 60px;
}

.nav ul{
	display: flex;
	background-color: #094264;
	width: 100%;
	height: 20px;
	justify-content: flex-end;
	gap: 70px;
	border-radius: 10px;
	padding: 60px 70px;
	position: relative;
	top: -75px;
	
}

nav a:hover {
	background-color: #06D13B;
	border-radius: 0px;
	border-radius: 10px;
	
}
nav li a {
	color: #F8F8F8;
	border-radius: 10px;
	border: 2px solid white;
	padding: 5px 10px;
}
	
header{
	width: 100%;
	height: 90px;
	background-color:#F8F8F8;
	position: fixed;
	z-index: 20;
}


/*-Estilos Main--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

main{
	position: relative;
	top: 300px;
	margin-bottom: 1080px;
	
}
.educacion {
	display: flex;
	flex-wrap: wrap; 
}
.educacion article{
	flex: 1 50%;
	box-sizing: border-box; 
	padding: 100px; 
	background-color: #094264;
}
.educacion article,h2 {
	color: #F5F0F0;
	text-align: center;
}
.educacion p{
	color: #F5F0F0;
	font-weight: 300;
	text-align: center;
	margin-top: 13px;
	
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 100px;
}

.masnosotros {
	display: flex;
	align-items: center;
	gap: 150px;  
	margin-right: 0;
}
.masnosotros p {
	color: #094264;
	font-weight: 600;
	padding-left: 150px;
	max-width: 500px;
	margin-left: 20px;
	line-height: 2;
	text-align: justify
}

.container#nosotros h1 {
/*estilos generales del main "nosotros" */
	color: red;
}	
	
.container#suscribete h1 {
/*estilos generales del main "suscribete" */
	color: green; 
}
.container#campanas {
/*estilos generales del main "campana" */
	color: blue; 
	
}
/*--estilos de carrusel slider------*/
.slider-container, .text-container {
	flex: 1;
	margin: 40px;
}
.slider img {
	width: 900px;
}
.slider{
	margin: auto;
	width: 900px;
	overflow: hidden;
}
.slider ul{
	display: flex;
	animation: cambio 10s infinite alternate linear;
}
.slider li{
	width: 400%;
}
@keyframes cambio {
	0% {margin-left: 0;}
	12.5% {margin-left: 0;}
	18.75% {margin-left: -900px;}
	31.25% {margin-left: -900px;}
	37.5% {margin-left: -1800px;}
	50% {margin-left: -1800px;}
	56.25% {margin-left: -2700px;}
	68.75% {margin-left: -2700px;}
	75% {margin-left: -3600px;}
	87.5% {margin-left: -3600px;}
	93.75% {margin-left: -4500px;}
	100% {margin-left: -4500px;}
}


/*--Estilos Footer--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.redes {
	display: flex;
	justify-content: center;
	gap: 30px;
	position: relative;
	top: 40px;
	
}
footer{
	
	width: 100%;
	height: 120px;
	background-color: #06D13B;
	margin-top: auto;
	
}
/*--MOVILE--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

	@media screen and (max-width: 600px) {
	header {
		
		
	flex-direction: column;
	align-items: center;
	height: 130%;
	}

.logo {
	top: 0px;
	left:0;
	}

.social-media {
	justify-content: cen
	}
.nav{
	background-color:#094264;
	height: 10%;
	}

.nav ul {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 0%;
	right: 0;
	background-color: #094264;
	border-radius: 0;
	width: 0px;
	height: 20px;
}
/*.icon-menu, .icon-cancel {
	display: none;*/

}

nav ul {
	list-style-type: none;
}
form {
	padding: 20px;
	margin: 15px;
	width: 40%;
	height: 500px;
	background-color:#094264;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 20px;
}
.borrar {
	color: aliceblue;
	border-radius: 5px;
	border-color: aliceblue;
	background-color: #094264;	
}

.borrar:hover {
	background: #06D13B;
}
.enviar {
	color: aliceblue;
	border-radius: 5px;
	border-color: aliceblue;
	background-color: #094264;	
}
.enviar:hover {
	background: #06D13B;
}
input {

	width: 40%;
	height: 30px;		
}
 .textarea {
	 width: 70%;
	 height: 150px;
}
label {
	color: #FFFFFF;
}
#Edad {
	width: 20%;
	height: auto;
}

	

