@charset "utf-8";
/* CSS Document */
nav ul {
	list-style-type: none;
}
form {
	padding: 20px;
	margin: 15px;
	width: 40%;
	height: 500px;
	background-color:#094264;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 20px;
}
.borrar {
	color: aliceblue;
	border-radius: 5px;
	border-color: aliceblue;
	background-color: #094264;	
}

.borrar:hover {
	background: #06D13B;
}
.enviar {
	color: aliceblue;
	border-radius: 5px;
	border-color: aliceblue;
	background-color: #094264;	
}
.enviar:hover {
	background: #06D13B;
}
input {

	width: 40%;
	height: 30px;		
}
 .textarea {
	 width: 70%;
	 height: 150px;
}
label {
	color: #FFFFFF;
}
#Edad {
	width: 20%;
	height: auto;
}

	

