@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
nav ul {
	list-style-type: none;
}
form {
	padding: 20px;
	width: 50%;
	height: 100%;
	background-color:#094264;
	display: flex;
	flex-direction: column;
	align-items: center;
}
input {

	width: 50%;
	height: 30px;		
}
 .textarea {
	 width: 90%;
	 height: 100px;
}
label {
	color: #FFFFFF;
}
.chekbox {
	width: 90%;
	height: auto;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
}
input chekbox {
	width: 10%;
	height: 10%;
	display: flex;
	justify-content: center;
}